# Unreal Engine
Binaries/
DerivedDataCache/
Intermediate/
Saved/
.vscode/
.vs/
*.sln
*.opensdf
*.suo
*.sdf
*.pdb
*.log
*.db
*.ipch
*.tmp
*.obj
*.exe
*.dll

# Build
Build/

# Ignore user settings
*.user
*.userprefs
*.swp

# Exclude vehicle template files (UE template, not needed in repository)
Content/VehicleTemplate/
Content/Vehicles/
Content/__ExternalActors__/VehicleTemplate/
Content/__ExternalObjects__/VehicleTemplate/

